h1.title{
	float:left;
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
	text-align: center;
}

/*div.pageContainer{
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	background-color: #FFFFFF;

}

body{
	background-color: #e7f1f8;

}*/

#head{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.greeting{
	text-align: right;
	font-style: italic;
	font-family: arial, helvetica, sans-serif;
}

.topMenu {
	margin-left: auto;
	margin-right: auto;
	width: 50%;

}

img.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:177px;

}

a.button {
	display:block;
	background-color: #4a87b1;
	text-decoration: none;
	text-align: center;
	border-style: solid;
	border-color: #000000;
	border-width: 1;
	color: #FFFFFF;
	width: 100px;

}

#selected {
	display:block;
	background-color: #E5E5E5;
	text-decoration: none;
	text-align: center;
	border-style: solid;
	border-color: #000000;
	border-width: 1;
	color: #0000FF;
	width: 100px;
}

